body{
  background-image: url(https://i.redd.it/ax9ktyltmmt71.jpg);
  font-family: Georgia,sans-serif;
  color: white;
  
}
#title{
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#description{
  width: 80%;
  
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
label{
  display: block;
  
  font-size: 1.5em;
  margin: 10px;
}
#survey-form{
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
  background-color: rgba(0, 50, 127, 0.7);
  padding: 10px;
}
input,select{
  width: 100%;
  min-height: 2em;
}
textarea{
  width: 100%;
  height: 50px;
}
input[type="submit"]{
 display: block;
 margin: 20px auto;
 width: 96.5%;
 min-height: 2em;
 font-size: 1rem;
}

input[type="checkbox"]{
  width: unset;
  font-size: 7px;
}

input[type="radio"]{
  width: unset;
}

legend{
  font-size: 1.5em;
}

fieldset{
  border: none;
}
